* {
  box-sizing: border-box;
}

img {
  width: 30%;
  float: left;
  margin: 1.6%;
}

h1 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 1.6%;
  border-bottom: 1px slategrey solid;
  width: 30%;
  padding-bottom: 20px;
}

hr {
  color: slategrey;
  width: 150px;
}

footer {
  width: 100%;
}

footer p {
  margin: 0 auto;
}